@use "../global";
html {
  font-family: "Roboto", sans-serif !important;
}
.navbar {
  background-color: #1c1e53 !important;
  .navbar-brand {
    font-size: 32px;
  }
  li {
    a {
      color: #fff !important;
    }
  }
  .navbar-toggler-icon {
    background-image: url(../../images/home/hamburger.svg);
    border: none;
  }
  ul {
    gap: 40px;
    padding-right: 40px;
    li {
    }
  }
  button {
    &:hover {
      background: #fff;
      a {
        color: #1c1e53 !important;
      }
    }
  }
}
#our {
  padding-top: 128px;
  padding-bottom: 128px;
  .our {
    .row {
      h6 {
        color: var(--dark-blue, #282938);
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px; /* 177.778% */
      }
      h1 {
        color: var(--dark-blue, #282938);
        font-size: 54px;
        font-style: normal;
        font-weight: 600;
        line-height: 74px; /* 137.037% */
        padding-top: 8px;
        padding-bottom: 31px;
      }
      .our__parag {
        color: var(--dark-blue, #282938);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 175% */
        width: 68%;
      }
    }
  }
}

#goal {
  padding-bottom: 128px;
  .goal {
    .row {
      background-color: #f4f5f5;
      padding: 96px 109px 96px 80px;
      h3 {
        color: var(--dark-blue, #282938);
        font-size: 38px;
        font-style: normal;
        font-weight: 600;
        line-height: 56px; /* 147.368% */
      }
      p {
        color: var(--dark-blue, #282938);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 175% */
        padding-top: 16px;
      }
    }
  }
}
#team {
  padding-top: 128px;
  padding-bottom: 128px;
  background: var(--grey, #f4f6fc);
  .team {
    h1 {
      color: var(--dark-blue, #282938);
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: 64px; /* 133.333% */
    }
    .row {
      .col-12 {
        .team__card {
          background-color: #fff;
          padding: 48px 64px 32px 64px;
          h6 {
            padding-top: 30px;
            padding-bottom: 2px;
            color: var(--b, #1d2130);
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 36px; /* 150% */
          }
          p {
            color: var(--b, #1d2130);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px; /* 175% */
          }
        }
      }
    }
  }
}
footer {
  background: #1c1e53 !important;
  padding-top: 102px;
  padding-bottom: 92px;
  .footer {
    .row {
      .logo {
        font-size: 40px;
        font-weight: bold;
      }
      p {
        padding-top: 24px;
        padding-bottom: 43px;
        color: var(--white, #fff);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px; /* 175% */
        width: 60%;
      }
      h2 {
        color: #fff;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 64px; /* 133.333% */
      }
      img {
        padding-right: 25px;
      }
    }
    .foo__contact {
      background: var(--yellow, #fcd980);
      padding: 18px 37px;
      h5 {
        color: var(--dark-blue, #282938);
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px; /* 177.778% */
      }
    }
  }
}
