@use "../global";
html {
  font-family: "Roboto", sans-serif !important;
}
.navbar {
  background-color: #1c1e53 !important;
  .navbar-brand {
    font-size: 32px;
  }
  li {
    a {
      color: #fff !important;
    }
  }
  .navbar-toggler-icon {
    background-image: url(../../images/home/hamburger.svg);
    border: none;
  }
  ul {
    gap: 40px;
    padding-right: 40px;
    li {
    }
  }
  button {
    &:hover {
      background: #fff;
      a {
        color: #1c1e53 !important;
      }
    }
  }
}
#header {
  padding-top: 128px;
  .header {
    h1 {
      color: var(--dark-blue, #282938);
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: 64px; /* 133.333% */
    }
    p {
      color: var(--dark-blue, #282938);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; /* 175% */
      padding-top: 16px;
      padding-bottom: 64px;
      width: 35%;
      margin: 0 auto;
    }
  }
}
#form {
   padding-bottom: 128px;
  .form form {
    border-radius: 12px;
    background: var(--grey, #f4f6fc);
    padding: 55px 77px;
  }
}

footer {
  background: #1c1e53 !important;
  padding-top: 102px;
  padding-bottom: 92px;
  .footer {
    .row {
      .logo {
        font-size: 40px;
        font-weight: bold;
      }
      p {
        padding-top: 24px;
        padding-bottom: 43px;
        color: var(--white, #fff);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px; /* 175% */
        width: 60%;
      }
      h2 {
        color: #fff;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 64px; /* 133.333% */
      }
      img {
        padding-right: 25px;
      }
    }
    .foo__contact {
      background: var(--yellow, #fcd980);
      padding: 18px 37px;
      h5 {
        color: var(--dark-blue, #282938);
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px; /* 177.778% */
      }
    }
  }
}
